<div class="form-group">
  <label for="password">Password</label>
  <input [(ngModel)]="password" class="form-control" id="password" type="password">
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" [ngClass]="{
    'bg-light': getPasswordStrength() === 'empty',
    'bg-danger':  getPasswordStrength() === 'easy',
    'bg-warning': getPasswordStrength() === 'medium',
    'bg-success': getPasswordStrength() === 'strong'
  }" style="width: 33%"></div>
  <div class="progress-bar" role="progressbar" [ngClass]="{
    'bg-light': getPasswordStrength() === 'empty' || getPasswordStrength() === 'easy',
    'bg-warning': getPasswordStrength() === 'medium',
    'bg-success': getPasswordStrength() === 'strong'
  }" style="width: 33%"></div>
  <div class="progress-bar" role="progressbar" [ngClass]="{
    'bg-light': getPasswordStrength() !== 'strong',
    'bg-success': getPasswordStrength() === 'strong'
  }" style="width: 34%"></div>
</div>
