.progress-bar {
  transition: background-color 0.5s ease;
  height: 30px;
}

.bg-danger {
  background-color: #dc3545 !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}

input#password {
  max-width: 40%;
}
